{% extends "@FOSUser/layout.html.twig" %}
{% block title %} <title>Connexion</title> {% endblock %}
{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
