{% extends 'backOffice/base.html.twig' %}
{% block title %} Liste des catégories {% endblock %}
{% block body %}

    <h1>
        Liste des catégories
    </h1>

    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>
                    <a class="uk-button uk-button-default" href="{{ path('admin_new_category') }}">Ajouter une categorie</a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a class="uk-button uk-button-primary" href="{{ path('admin_edit_category', {'id': category.id}) }}" >Modifier</a>
                    <a class="uk-button uk-button-danger" href="{{ path('admin_delete_category', {'id': category.id}) }}" data-turbolinks="false">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}