{% extends 'backOffice/base.html.twig' %}
{% block title %} Listes des catégories {% endblock %}
{% block body %}

    <h1>
        Lister des categories
    </h1>

    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Nom de la catégorie</th>
                <th>
                    <a class="uk-button uk-button-text" href="{{ path('admin_new_category') }}">Ajouter une categorie</a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a class="uk-button uk-button-primary" href="{{ path('admin_edit_category', {'id': category.id}) }}" >Modifier</a>
                    <a class="uk-button uk-button-danger" href="{{ path('admin_delete_category', {'id': category.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}