{% extends 'base.html.twig' %}

{% block title 'Blog' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center animate-box ">
            <div class="heading-section">
                <h2>Nos projets</h2>
            </div>
        </div>
    </div>

    <div id="fh5co-work-section">
        <div class="container">
            <div class="row">
                {% for article in pagination %}
                    <div class="col-md-6 text-center animate-box">
                        <div class="work" style="background-image: url({{ vich_uploader_asset(article, 'imageFileMiniature') }});">
                            <a href="{{ path('show_article', {'slug': article.slug}) }}" class="view">
                                <span>{{ article.title }}</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination, 'pagination/pagination-front.html.twig') }}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}