{% extends 'base.html.twig' %}

{% block title 'Blog' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center animate-box ">
            <div class="heading-section">
                <h2>Nos projets</h2>
            </div>
        </div>
    </div>

    <div id="fh5co-work-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center animate-box">
                    <div class="work" style="background-image: url(images/img-1.jpg);">
                        <a href="#" class="view">
                            <span>View Demo</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 text-center animate-box">
                    <div class="work" style="background-image: url(images/img-2.jpg);">
                        <a href="#" class="view">
                            <span>View Demo</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 text-center animate-box">
                    <div class="work" style="background-image: url(images/img-3.jpg);">
                        <a href="#" class="view">
                            <span>View Demo</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 text-center animate-box">
                    <div class="work" style="background-image: url(images/img-8.jpg);">
                        <a href="#" class="view">
                            <span>View Demo</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}