{% extends 'base.html.twig' %}

{% block title 'Contacter nous pour toutes question !' %}

{% block body %}

    <div id="fh5co-intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 animate-box text-center">
                    <h2 class="intro-heading">Contactez nous !</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-push-1 animate-box">
                    <h3>Unitaide.org</h3>
                    <ul class="contact-info">
                        <li><i class="icon-phone2"></i>+ 1235 2355 98</li>
                        <li><i class="icon-mail"></i><a href="#">info@yoursite.com</a></li>
                    </ul>
                </div>
                <div class="col-md-7 col-md-push-1 animate-box">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nom">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Envoyer" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}