{% extends 'backOffice/base.html.twig' %}


{% block body %}


<h1 class="uk-text-center uk-margin-top">Recherche ajax</h1>
    <form action="{{ path('search_ajax') }}">
        <legend class="uk-legend">search</legend>

        <div class="uk-margin">
            <input class="uk-input" type="text" id="search-ajax" name="search" placeholder="search">
        </div>
    </form>

    <div class="result">

    </div>
{% endblock %}