{% extends 'base.html.twig' %}

{% block title %}Faite un don{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center animate-box ">
            <div class="heading-section">
                <h2>Faire un don</h2>
            </div>
        </div>
    </div>

    <div id="fh5co-work-section">
        <div class="container">
            <div class="row">
                <figure class="text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Via paypal</h1>
                            <a href="https://www.paypal.com/pools/c/8fQPemJ0p0" target="_blank">
                                <img src="{{ asset('images/paypal.jpg') }}" alt="logo_Paypal">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <h1>Carte bancaire</h1>
                            <a href="https://www.paypal.com/pools/c/8fQPemJ0p0/guest/amount" target="_blank">
                                <img src="{{ asset('images/cb.png') }}" width="226" height="146" alt="logo_cb">
                            </a>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>


{% endblock %}