<footer>
    <div id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="section-title">Minimal</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                </div>

                <div class="col-md-3 col-md-push-1">
                    <h3 class="section-title">Our Services</h3>
                    <ul>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">Editing Photos</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    {{ render(controller(
                        'App\\Controller\\NewsletterController::addMail'
                    )) }}
                </div>
            </div>
            <div class="row copy-right">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icon">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                    </p>
                    <p>Copyright {{ "now" | date('Y') }} <a href="#">Unitaide.org</a>. Tout droit réservé.
                </div>
            </div>
        </div>
    </div>
</footer>

</div>