<nav id="fh5co-main-nav" role="navigation">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
    <div class="js-fullheight fh5co-table">
        <div class="fh5co-table-cell js-fullheight">
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('blog') }}">Blog</a></li>
                <li><a href="{{ path('event') }}">Événements</a></li>
                <li><a href="{{ path('about') }}">Qui sommes-nous ?</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
            <p class="fh5co-social-icon">
                <a href="#"><i class="icon-twitter2"></i></a>
                <a href="#"><i class="icon-facebook2"></i></a>
                <a href="#"><i class="icon-instagram"></i></a>
            </p>
        </div>
    </div>
</nav>

<div id="fh5co-page">
    <header>
        <div class="container">
            <div class="fh5co-navbar-brand">
                <h1 class="text-center"><a class="fh5co-logo" href="{{ url('home') }}"><img src="{{ asset('images/logo.jpg') }}" width="150" height="150" alt="logo"></a></h1>
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            </div>
        </div>
    </header>

